.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


*{
  margin: 0;
  padding: 0;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}
.intro-box{
  background-color: aliceblue;
  width: 500px;
  height: 400px;
  border: 2px solid #282c34;
  justify-content: center;
}
.intro-box h2{
  background-color: black;
  color: aliceblue;
  text-align: center;
  font-size: 25px;
  padding: 10px;
  margin-bottom: 20px;
}
p{
  /* margin-bottom: 10px; */
  padding: 15px;
  font-size: 18px;
}
